// applause-button

applause-button {
  width: 80px;
  height: 80px;
  margin: 0 auto;

  .count-container {
    color: inherit;
  }
}

.clap-count {
  @extend h4;
  color: var(--accent-color);
  display: none;

  svg {
    height: 1em;
    vertical-align: middle;
    width: 1em;
  }

  .flat {
    fill: var(--body-bg);
  }

  .outline {
    fill: var(--accent-color);
  }
}

//menu


.submenu-list {
  list-style-type:square;
  padding: 0;
  margin-top: 40px;
  margin-left: 40px;
}

.submenu-list li {
  margin: 30px 0;
}

.submenu-list a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  display: inline-block;
  font-weight: 600;
}


.submenu-list a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #ffffff;
  opacity: 0;
  // transition: opacity 0.1s ease-in-out;
}

.submenu-list a:hover::after {
  opacity: 1;
}

//sidebar

.sidebar-sticky {
  height: 100%;
  padding-top: 5%;
  position: absolute;
}
.sidebar-about {
  padding-bottom:10%;
}
.spread-btn{
  left: 7%;
  position: absolute;
  padding: 0;
  padding-top: 5px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}

.spread-btn:hover{
  color: grey;
}

.menu-wrapper{
  display: flex;
  text-align: left;
  margin-left: 10%;
  margin-bottom: 0%;

  input[type=checkbox]{
    display: none;
  }

  input[type=checkbox] ~ ul{
    display: none;
    list-style: none;
  }

  input[type=checkbox]:checked ~ ul{
    display: block;
  }
}



// Image centering

.text-align-center {
  text-align: center;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


// navbar
@media screen and (min-width: 1023px) {
  #logo-container {
    display: none !important;
  }
}

@media screen and (min-width: 1663px) {
  #nav-underline {
    width: calc(100% + 50vw - 32rem) !important;
  }
}

#logo-container {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#logo-container > .logo > img {
  width: 6rem;
  height: 6rem;
  transform: translateY(-5px);
}

#nav-underline {
  width: 100%;  /* 실선의 길이 */
  height: 2px;  /* 실선의 두께 */
  background-color: rgba(255, 255, 255, 0.3);/* 실선의 색상 (여기서는 흰색) */
  margin: 0 auto;  /* 위아래 여백과 가운데 정렬 */
}

.nav-btn-bar {
  @extend .color-transition;
  margin: 0 -1rem;
  background-color: white; // IE11
  background-color: var(--body-bg);
  height: $navbar-height;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;

  > :first-child, > :last-child {
    border: none;
  }
}


// menu
@media screen and (min-width: 1023px) {
  #logo-container {
    display: none !important;
  }
}

@media screen and (min-width: 1663px) {
  #nav-underline {
    width: calc(100% + 50vw - 32rem) !important;
  }
}

#logo-container {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#logo-container > .logo > img {
  width: 6rem;
  height: 6rem;
  transform: translateY(-5px);
}

#nav-underline {
  width: 100%;  /* 실선의 길이 */
  height: 2px;  /* 실선의 두께 */
  background-color: rgba(255, 255, 255, 0.3);/* 실선의 색상 (여기서는 흰색) */
  margin: 0 auto;  /* 위아래 여백과 가운데 정렬 */
}

.nav-btn-bar {
  @extend .color-transition;
  margin: 0 -1rem;
  background-color: white; // IE11
  background-color: var(--body-bg);
  height: $navbar-height;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;

  > :first-child, > :last-child {
    border: none;
  }
}